.home-page-content {
    padding-top: 20px; 
    padding-bottom: 20px;
}

#mainCarousel {
    margin-bottom: 20px;
}

.carousel-inner {
    max-height: 525px;
    margin: auto;
    overflow: hidden;
    box-shadow: var(--shadow-heavy);
    height: 525px;
}

.carousel-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item img,
.carousel-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-base {
    background-color: var(--color-white);
    box-shadow: var(--shadow-medium);
    padding: 2rem;
    color: var(--color-black);
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: var(--border-radius-lg);
    padding-left: 200px;
    padding-right: 200px;
    min-height: 650px!important; 

}

.card-contenido {
    min-height: 810px; 
}

.titulo-info-home {
    color: var(--color-secondary);
    border-bottom: 2px solid var(--color-primary-dark);
    padding-bottom: 0.5rem;
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
}

.subtitulo-info-home {
    text-align: center;
}

.texto-info-home {
    margin: 10px 0;
}

#lista-funcionalidades {
    list-style: disc; 
    max-width: 800px;
    margin: 0 auto 30px auto;
    padding-left: 20px;
}

#lista-funcionalidades li {
    margin-bottom: 15px;
    line-height: 1.6;
}

.text-p-L_Negrita.text-center {
    display: block;
    margin-bottom: 20px;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .card-base {
        padding: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 95%;
    }
    .titulo-info-home {
        font-size: 35px;
    }
}
@media (max-width: 576px) {
    .card-base {
        border-radius: 15px;
        padding: 1rem 0.5rem;
    }
    #lista-funcionalidades {
        padding-left: 10px;
    }
}

.carousel-control-prev,
.carousel-control-next {
    background-color: transparent !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ffffff50;
    border-radius: 40%;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    display: inline-block;
    color: #6c757d; 
    transition: color 150ms ease;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='currentColor' d='M11.354 1.646a.5.5 0 0 1 0 .708L6.207 7.5l5.147 5.146a.5.5 0 0 1-.708.708l-5.5-5.5a.5.5 0 0 1 0-.708l5.5-5.5a.5.5 0 0 1 .708 0z'/></svg>");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' transform='rotate(180)'><path fill='currentColor' d='M11.354 1.646a.5.5 0 0 1 0 .708L6.207 7.5l5.147 5.146a.5.5 0 0 1-.708.708l-5.5-5.5a.5.5 0 0 1 0-.708l5.5-5.5a.5.5 0 0 1 .708 0z'/></svg>");
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    color: #ffffff;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
    outline: none !important;
    box-shadow: none !important;
}

.carousel-control-prev:focus-visible,
.carousel-control-next:focus-visible {
    outline: 2px solid rgba(0,0,0,0.15);
    outline-offset: 2px;
}


