.custom-footer {
  background-color: var(--color-secondary);
  margin-top: auto;
}

.custom-footer .nav-link,
.custom-footer p {
  color: var(--color-white) !important; 
}

.custom-footer .nav-link:hover {
  color: var(--color-light-gray) !important;
}

.custom-footer .text-body-secondary {
  color: var(--color-light-gray) !important;
}

.footer {
  margin-bottom: 20px;
}

.footer-nav-section {
    padding-top: 30px;
    padding-bottom: 10px;
}