.navbar.navbar-expand-lg.bg-body-tertiary {
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: var(--shadow-light);
    height: 70px;
}

.fondo-navbar {
    height: 70px;
}

.container-fluid {
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-brand { 
    display: flex;
    align-items: center;
}

.navbar-brand .titulo { 
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    color: var(--color-primary);
    padding-left: 12px;
}

.navbar-brand .titulo:hover {
    transition: color 0.3s ease;
    color: #43bbeb;
}

.text-a-navbar {
    font-family: "Montserrat", sans-serif;
    font-weight: 500 !important;
    font-size: 15px;
    color: var(--color-gray) !important; 
}

.espaciador-navbar {
    width: 10px;
    text-align: center;
    font-size: large;
    color: var(--color-d8eaff); 
}

.boton-iniciar-sesion {
    display: block;
    padding: 12px 16px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #555454;
    color: var(--color-white);
    font-weight: bold;
    text-shadow: 1px 1px 1px #555454;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-usuario {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #D9F7FF;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #0791E6;
    cursor: pointer;
    padding: 5px 10px;
}

.imagen-box-nav {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ffffff;
}

.imagen-box-nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown-menu {
    min-width: 250px;
}

#buscador-navbar {
    width: 600px;
}

@media (max-width: 768px) {
    #buscador-navbar {
        width: 100%;
        max-width: 300px;
    }

    .navbar-brand .titulo {
        font-size: 28px;
        padding-left: 8px;
    }
}

.btn {
    border: none !important;
}